.link {
    text-decoration: none;

    font-size: rem($font-size-small);
    line-height: rem(18px);

    color: $curiousBlue;

    &:hover,
    &:active {
        text-decoration: underline;
    }

    &:active {
        opacity: 0.5;
    }

}